.burger__menu {
    background: #FF6336;
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: -101vh;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.burger__menu.active {
    top: 0;
    transition: all 0.5s ease-in-out;
}

.burger__menu > nav {
    height: 100%;
}

.burger__menu > nav > ul {
    height: 100%;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-around;
    font-size: 3rem;
}

.burger__menu > nav > ul > li > a {
    margin: 0;
    border: 5px solid black;
    border-radius: 10px;
    display: block;
    padding: 2rem;
}