.integrate.fb-container {
    justify-content: center;
    align-items: center;
}

@media (max-width: 414px) {
    .integrate.fb-container header {
        max-width: 100%;
        font-size: 2rem;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 3rem;
        margin-bottom: 30px;
    }
    .integrate p {
        width: 100%;
        padding-left: 30px;
    }
    .integrate img {
        width: 100%;
    }
}

.integrate__wrapper.fb-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.integrate__wrapper {
    margin: 160px 0 162px;
}

.integrate__wrapper > header {
    font-size: var(--fs-65px);
    line-height: 75px;
    max-width: 790px;
    text-align: center;
    letter-spacing: 1px;
}

.integrate__wrapper > p {
    font-size: var(--fs-25px);
    line-height: 30px;
    max-width: 530px;
    text-align: center;
    word-spacing: 8px;
    margin-bottom: 25px;
}

.integrate__wrapper> a {
    display: block;
    font-size: 1rem;
    line-height: 58px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    background: #FF6336;
    text-align: center;
    padding: 0 20px;
    margin-top: 32px;
    border: 1px solid transparent;
}

.integrate__wrapper> a:hover {
    color: #FF6336;
    background: #ffffff;
    border: 1px solid black;
}